/* =============
    Base
============= */

.outdoor_activities{
    display: grid;
    grid-template-columns: 100%;

    background-color: $white;

    @include md{
        grid-template-columns: 50% 50%;
        font-size: 20px;
    }
    
}
